<div class="sidebar-left">
    <ul class="item-sidebar">
        <li [routerLink]="['/listar-ordenes']" style="cursor: pointer;" class="link-sidebar">
            <span> <img src="assets/icons/item-menu.svg" style="margin-right: 1em;" width="12" alt="list">
                Ordenes de Productos</span>
        </li>
        <!--<li [routerLink]="['/listar-delivery']" style="cursor: pointer;" class="link-sidebar">
            <span> <img src="assets/icons/item-menu.svg" style="margin-right: 1em;" width="12" alt="list">
                Ordenes delivery</span>
        </li>-->
        <li [routerLink]="['/listar-servicios']" style="cursor: pointer;" class="link-sidebar">
            <span> <img src="assets/icons/item-menu.svg" style="margin-right: 1em;" width="12" alt="list">
                Productos</span>
        </li>
        <li [routerLink]="['/listar-clientes']" style="cursor: pointer;" class="link-sidebar">
            <span> <img src="assets/icons/item-menu.svg" style="margin-right: 1em;" width="12" alt="list">
                Usuario</span>
        </li>
    </ul>
</div>