<div class='container-full'>
    <app-navbar></app-navbar>
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="./assets/segundo1.jpg" alt="Delhi Metro">
            <div class="carousel-caption">
                <!-- <h3 style="color: yellow">Slide1</h3>   -->
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/fondo.png" alt="Bangalore Metro">
            <div class="carousel-caption">
                <!-- <h3 style="color: yellow">Slide2</h3>   -->
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/barco.jpg" alt="Channai Metro">
            <div class="carousel-caption">
                <!-- <h3 style="color: yellow">Slide3</h3>   -->
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="main p-4">
    <app-servicios></app-servicios>
</div>
<div class="section-protocolos">
    <h1>Cumplimos con protocolos de seguridad</h1>

    <div class="protocolos">
        <img src="./assets/icons/transporte.png" width="150" alt="">
        <img src="./assets/icons/proteccion.png" width="150" alt="">
        <img src="./assets/icons/desinfeccion.png" width="150" alt="">
        <img src="./assets/icons/distanciamiento.png" width="150" alt="">
    </div>
</div>
<app-footer></app-footer>