<app-navbar></app-navbar>

<!--Imagen de Cabecera-->
<img
style="margin-top: 90px; height: 70px; width: 100%; object-fit: cover;"
class="img-fluid"
src="./assets/cabecera.png"
alt=""
/>
<!--Fin Imagen de Cabecera-->
<!--Quienes somos-->
<div class="container" style="margin-bottom: 70px;">
<div class="row justify-content-center" style="margin-top: 50px;">
  <div class="col-7">
    <h1 style="color: #2b6ca3; text-align: center;">¿Quienes somos?</h1>
  </div>
</div>
<div class="row justify-content-center" style="margin-top: 30px;">
  <div class="col-4">
    <div class="card text-center">
      <img class="card-img" src="./assets/logo.png" alt="" />
    </div>
  </div>
  <div class="col-6">
 
  </div>
</div>

</div>
<!--Fin Quienes somos-->
<!--Contacto-->
<div
class="row justify-content-end no-gutters align-items-center"
style="margin-bottom: 70px;"
>
<div class="col-4">
  <h1 style="color: #2b6ca3; text-align: start;">Contacto</h1>
</div>
<div class="col-6">
  <div class="card border-right-0" style="background-color: #2b6ca3;">
    <div
      class="container"
      style="padding-left: 15%; padding-top: 40px; padding-bottom: 40px;"
    >
      <div class="row justify-content-start">
        <div class="col-1" style="padding-bottom: 20px;">
          <svg
            style="color: white;"
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-envelope-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
            />
          </svg>
        </div>
        <div class="col">
          <h4 style="color: white;">lavanderiatotalcleaning@gmail.com</h4>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-1" style="padding-bottom: 20px;">
          <svg
            style="color: white;"
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-telephone-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"
            />
          </svg>
        </div>
        <div class="col">
          <h4 style="color: white;">+51 925 598 187</h4>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-1" style="padding-bottom: 20px;">
          <i
            class="fa fa-facebook-square"
            style="color: white; font-size: 36px;"
          ></i>
        </div>
        <div class="col">
          <h4 style="color: white;">@LavanderiaTotalCleaning</h4>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-1">
          <i
            class="fa fa-instagram"
            style="color: white; font-size: 36px;"
          ></i>
        </div>
        <div class="col">
          <h4 style="color: white;">@lavtotalclaning</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--Fin Contacto-->
<!--Ubicacion-->
<div
class="row justify-content-start no-gutters align-items-center"
style="margin-bottom: 70px;"
>
<div class="col-6">
  <div class="card border-right-0" style="background-color: white;">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.112152117162!2d-76.98764017082712!3d-12.149831688397448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b86ab26bb367%3A0x4bc38a10f5e2e49e!2sLavander%C3%ADa%20Total%20Cleaning!5e0!3m2!1ses!2spe!4v1593730149623!5m2!1ses!2spe"
      width="100%"
      height="350em"
      frameborder="0"
      style="border: 0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
</div>
<div class="col-6">
  <h1 style="color: #2b6ca3; text-align: center;">Ubicación</h1>
  <h4 style="color: gray; text-align: center;">
    Av. Los Próceres 285, Santiago de Surco
  </h4>
</div>
</div>
<!--Fin Ubicacion-->
<app-footer></app-footer>