<div class="b-login">
    <div class="section-left">

        <div class="video-area">
            <!-- <video autoplay muted loop id="myVideo">
                <source src="./assets/video/video-campana.mp4" type="video/mp4">
            </video> -->
        
        </div>

    </div>
    <!-- <div class="section-right">
        <div class="form-group">
            <div class="logo-login">
                <img src="./assets/logo.png" alt="">
            </div>
            <div class="md-input">
                <input class="md-form-control" type="text" required="" [(ngModel)]="user.email" autocomplete="new-password">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label> <img src="./assets/icons/user.svg" alt="user" width="14"> Usuario</label>
            </div>
            <div class="md-input">
                <input class="md-form-control" type="password" required="" [(ngModel)]="user.password" autocomplete="new-password">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><img src="./assets/icons/password.svg" alt="password" width="14"> Contraseña</label>
            </div>
            <div class="md-input">
                <input type="button" (click)="signin()"  class="btn btn-enter" value="Ingresar">
            </div>
          
           
        </div>
    </div> -->
</div>
<ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
</ng-template>

<!-- <ngx-loading [show]="loading" [template]="customLoadingTemplate"></ngx-loading> -->